<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      user page
    </title>
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link
    rel='stylesheet'
    href='/stylesheets/style.css' />
</head>

    <body>

      <h2>
        User Page
      </h2>

      <div class="row">
        <div
        class="col s10 m10 l5"
        >

        <!--ID입력-->
            <input
            type="text"
            id="ID"
            name="ID"
            placeholder="ID를 입력하세요"
            >

        </div>
      </div>

      <div
      class="row">
        <div
        class="col s10 m10 l5">

        <!--password입력-->
            <input
            type="password"
            id="txtPassword"
            name="password"
            placeholder="비밀번호를 입력하세요">

        </div>
      </div>

      <!--data post를 위한 form-->
      <form
      action="/"
      method="post"
      >

        <div
        class="row"
        >
          <div
          class="col s5 m5"
          >

          <!--지역 선택 select-->
            <select
            class="waves-effect waves-light"
            id="selectDistrict"
            name="district"
            >

            <option
            value="강남구"
            >
            강남구
          </option>
            <option
            value="강동구"
            >
            강동구
          </option>
            <option
            value="강북구"
            >
            강북구
          </option>
            <option
            value="강서구"
            >
            강서구
          </option>
            <option
            value="관악구"
            >
            관악구
          </option>
            <option
            value="광진구"
            >
            광진구
          </option>
            <option
            value="구로구"
            >
            구로구
          </option>
            <option
            value="금천구"
            >
            금천구
          </option>
            <option
            value="노원구"
            >
            노원구
          </option>
            <option
            value="도봉구"
            >도봉구
          </option>
            <option
            value="동대문구"
            >
            동대문구
          </option>
            <option
            value="동작구"
            >
            동작구
          </option>
            <option
            value="마포구"
            >
            마포구
          </option>
            <option
            value="서대문구"
            >
            서대문구
          </option>
            <option
            value="서초구"
            >
            서초구
          </option>
            <option
            value="성동구"
            >
            성동구
          </option>
            <option
            value="성북구"
            >
            성북구
          </option>
            <option
            value="송파구"
            >
            송파구
          </option>
            <option
            value="양천구"
            >
            양천구
          </option>
            <option
            value="영등포구"
            >
            영등포구
          </option>
            <option
            value="용산구"
            >
            용산구
          </option>
            <option
            value="은평구"
            >
            은평구
          </option>
            <option
            value="종로구"
            >
            종로구
          </option>
            <option
            value="중구"
            >
            중구
          </option>
            <option
            value="중랑구"
            >
            중랑구
          </option>

            </select>

          </div>

          <!--해당 구역 쓰레기통으로 로그인-->
          <button
          class="waves-effect waves-light btn-large"
          type="submit"
          id="btnLogin"
          >Login
        </button>

        </div>

      </form>


      <div class="row">
          <div>
            처음 방문하시나요?<br />
            가입하려면 <a href="/signup">여기</a>를 누르세요
      </div>

        <script
        type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"
        >
      </script>

        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
        >
      </script>

    </body>

</html>
